*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    text-transform: capitalize;
}

h1{
    background-color: #081b31;
    color: white
    ;
    height: 5rem;
    height: 5rem;
    
}

.choice{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        
    }
}

.choice:hover{
  background-color: #081b31;
    cursor: pointer;
}

.choice-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #computer-score{
    font-size: 4rem;
}

#msg{
background-color: #081b31;
color: white;
font-size: 2rem;
display: inline;
padding: 1rem;
border-radius: 1rem;
}

.msg-container{
    margin-top: 5rem;
}