*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #548687;
    text-transform: capitalize;
    text-align: center;
    text-transform: capitalize;

   
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box{
    height: 18vmin
    ;
    width: 18vmin;
    border-radius: 4px;
    border: 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: white;
}
.reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    text-transform: capitalize;
    border-radius: 4px;
    border: 0;
}
.new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    text-transform: capitalize;
    border-radius: 4px;
    border: 0;
}

.msg{
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container{
    height: 18vmin;
}

.hide{
    display: none;
}